@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*----------------------------------
#   Common CSS
-----------------------------------*/

body {
  height: 100%;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #000;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none !important;
  color: inherit;
  transition: 0.3s ease;
}

@media (hover: hover) {
  a:hover {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
}

.font-medium {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600 !important;
}

.preloader{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
