/*---------------------------
# Button CSS
----------------------------*/

.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 13px 24px;
  outline: none;
  border-radius: 36px;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    background-position 0.6s ease,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    .arrow-wrapper {
      transform: translateX(0);
    }
  }

  /*---------------------------
  # Button Variants
  ----------------------------*/

  &--primary {
    background:
      linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%) padding-box,
      linear-gradient(90deg, #440178 0%, #8c01fa 100%) border-box;
    color: #fff;
    border: 2px solid transparent;
    background-size: 200% 100%, 200% 100%;
    background-position: 100% 50%, 100% 50%;

    &:hover {
      background-position: 0% 50%, 0% 50%;
    }
  }

  &--outline {
    background:
      linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0)) padding-box,
      linear-gradient(90deg, #440178 0%, #8c01fa 100%) border-box;
    background-size: 200% 100%, 200% 100%;
    background-position: 100% 50%, 100% 50%;
    border: 2px solid transparent;
    color: #fff;

    &:hover {
      background-position: 0% 50%, 0% 50%;
    }
  }
}

.button-arrow {
  overflow: hidden;
  width: 20px;
  height: 20px;
  position: relative;
}

.arrow-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.25s ease;
  transform: translateX(-50%);

  img {
    width: 20px;
    height: 20px;
  }
}